{% include "translation_app\header.html" %}
<div style="margin: 10vw 10vw 10vw 10vw;">
    <a href="{% url 'doctor' %}">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="\static\img\Doctor.jpg" class="card-img-top" alt="..." style="height: 15vw"  >
        <div class="card-body">
          <h5 class="card-title" }>Medical</h5>
          <p class="card-text">A medical career offers the opportunity to make a profound impact on individuals' lives, providing care, compassion, and expertise in healing. It demands rigorous education, continuous learning, and a commitment to serving others with empathy and professionalism.</p>
        </div>
      </div>
   
    </div>
</a>
    <div class="col">
        <a href="{% url 'engineer' %}">
      <div class="card">
        <img src="\static\img\Engineering.jpeg" class="card-img-top" alt="..." style="height: 15vw">
        <div class="card-body">
          <h5 class="card-title">Engineering</h5>
          <p class="card-text">An engineering career offers the chance to innovate, design, and solve complex problems that shape the world around us. It requires a blend of analytical thinking, creativity, and technical expertise to tackle challenges and drive progress in various industries.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
        <a href="{% url 'sports' %}">
      <div class="card">
        <img src="\static\img\Athletics Track.PNG" class="card-img-top" alt="..." style="height: 15vw">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">
            A sports career is a thrilling journey of passion, dedication, and resilience, where athletes strive for excellence and push the limits of human performance. It involves rigorous training, strategic planning, and unwavering determination to achieve success on the field or court.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <div class="card">
        <img src="\static\img\law.jpg" class="card-img-top" alt="..."style="height: 15vw">
        <div class="card-body">
          <h5 class="card-title">Law</h5>
          <p class="card-text">
            A law career offers the opportunity to advocate for justice, uphold the rule of law, and protect the rights of individuals and society as a whole. It requires rigorous study, sharp analytical skills, and a commitment to ethical practice in various legal fields, from litigation to corporate law.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="\static\img\entertainment.jpg" class="card-img-top" alt="..."style="height: 15vw">
          <div class="card-body">
            <h5 class="card-title">Art</h5>
            <p class="card-text">An entertainment career is a pursuit of creativity and expression, where individuals captivate audiences through film, music, theater, and more, inspiring millions worldwide. It demands a relentless drive to succeed in a competitive industry, where innovation and originality are prized. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="\static\img\finance.png" class="card-img-top" alt="..."style="height: 15vw">
          <div class="card-body">
            <h5 class="card-title">Finance</h5>
            <p class="card-text">
                A finance career is a dynamic realm where professionals navigate the intricate world of  markets, and investments, shaping global economies and driving financial growth. It demands sharp analytical skills, strategic thinking, and a keen understanding of risk management to thrive in diverse roles.</p>
          </div>
        </div>
      </div>
        
  </div>
  
</div>
  
{% include "translation_app/footer.html" %}